

@import url('https://fonts.googleapis.com/css?family=Audiowide');

@import url('https://fonts.googleapis.com/css2?family=Caudex:ital@1&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@media (max-width: 768px) {
  html {
    cursor: auto;
  }
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.font-name {
  font-family: "Audiowide", cursive;
}

.font-para {
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(30, 27, 75, 0.8);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #8a2be2, #4b0082);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #9932cc, #6a0dad);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8a2be2 rgba(30, 27, 75, 0.8);
}

/* For Edge */
::-ms-scrollbar {
  width: 8px;
}

::-ms-scrollbar-track {
  background: rgba(30, 27, 75, 0.8);
}

::-ms-scrollbar-thumb {
  background: linear-gradient(to bottom, #8a2be2, #4b0082);
  border-radius: 4px;
}

/* Disable cursor on touch devices */
@media (hover: none) and (pointer: coarse) {
  html {
    cursor: auto;
  }

  .cursor {
    display: none !important;
  }
}

.hero-filter{
    filter: drop-shadow(0 0 0.75rem #0a1c2c);
}

